@font-face {
	font-family: 'Yasashii Bold';
	font-style: normal;
	font-weight: 800;
	src: url('../font/Yasashii\ W01\ Bold.ttf') format('truetype');
  }
  .name{
	width: 300px;
	font-size:medium;
	font-family: 'Yasashii Bold';
	color: #141921;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	white-space: normal;
}